@model List<G_ShopDomain.Entities.Loai>

<div class="list-group">
    @foreach (var item in Model)
    {
	    <a href="@Url.Action("ThuCung","Home", new { MaLoai = item.MaLoai})" class="list-group-item">@item.TenLoai</a>
    }
</div>