
<div id="page"></div>
<div class="text-center">
    <ul class="pager">
        <li><a href="#"><span class="glyphicon glyphicon-hand-up"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-hand-left"></span></a></li>
        <li><a href="#"><span id="status"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-hand-right"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-hand-down"></span></a></li>
    </ul>
    <script src="~/Areas/Admin/Script/page.js"></script>
</div>