@model G_Shop.Models.NguoiDung
<ul class="nav navbar-right top-nav">
    <li class="dropdown">
        @*Chào, @Model.TenDangNhap*@
          
    </li>
    <li>
        <a href="/Admin/AdminHome/Logout"><i class="fa fa-fw fa-power-off"></i> Đăng xuất</a>
    </li>
</ul>
