@model G_Shop.Models.NguoiDung
@{
    ViewBag.Title = "editPassword";
    Layout = "~/Views/Shared/_LayoutNotSlide.cshtml";
}

<h2>Đổi mật khẩu</h2>
@if(ViewBag.message != "") {
    <div class="alert alert-danger alert-dismissable">
        @ViewBag.message
    </div>
}
    <hr />
@using(Html.BeginForm("editPassword", "Account", FormMethod.Post)) {
    @Html.HiddenFor(m => m.MaNguoiDung)
    <div class="form-group formEdit">
        <label class="control-label col-md-3">Mật khẩu cũ</label>
        <div class="col-md-9">
            <input type="password" name="oldPassword" class="form-control" />
        </div>
    </div>
        <div class="form-group formEdit">
            <label class="control-label col-md-3">Mật khẩu mới</label>
            <div class="col-md-9">
                <input type="password" name="newPassword" id="pass" class="form-control" />
            </div>
        </div>
        <div class="form-group formEdit">
            <label class="control-label col-md-3">Nhập lại mật khẩu</label>
            <div class="col-md-9">
                <input type="password" id="pass2" class="form-control" onkeyup="ValidatePass()"/>
                <span id="verify" class="text-danger"></span>
                <span id="verify1" class="text-success"></span>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Lưu thay đổi" class="btn btn-default" onclick="return Submit()"/>
            </div>
        </div>
}
        <script type="text/javascript">
            function Submit() {
                var pass1 = document.getElementById("pass").value;
                var pass2 = document.getElementById("pass2").value;
                if (pass1 != pass2) {
                    return false;
                }
                return true;
            }
            function ValidatePass() {
                var pass1 = document.getElementById("pass").value;
                var pass2 = document.getElementById("pass2").value;
                if (pass1 != pass2) {
                    document.getElementById("verify").innerHTML = "Không khớp mật khẩu";
                    document.getElementById("verify1").innerHTML = "";
                }
                else {
                    document.getElementById("verify1").innerHTML = "Mật khẩu trùng khớp";
                    document.getElementById("verify").innerHTML = "";
                }
            }
        </script>

